{% extends 'base.html' %}

{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/post.css' %}" />
<link rel="stylesheet" href="{% static 'css/auth.css' %}" />
{% endblock %}



{% block content %}
{% if user.is_superuser%}
<div class="buttons">
    <a href="{% url 'delete_post' post.search_title %}" class="delete-post page-btn">Delete post</a>
    <a href="{% url 'edit_post' post.search_title %}" class="edit-post page-btn">Edit post</a>
</div>
{% endif %}

<div class="post-container">
    <h1 class="post-title">{{ post.title }}</h1>
    <h1 class="date-posted">{{ post.date_posted }}</h1> 
    <p class="post-content">{{ post.content }}</p>
</div>

<div class="reply-container">
    <h1 class="reply-title">Responses</h1>
    <form method="POST" action="{% url 'make_comment' %}" class="reply-form">
        {% csrf_token %}
        <input type="hidden" name="post_id" value="{{ post.search_title }}">
        <input type="text" name="reply" class="reply-input auth-input" placeholder="Any thoughts?" onkeydown="if(event.key === 'Enter'){ this.form.submit(); return false; }" required>
        <button type="submit" class="auth-button">Reply</button>
    </form>

    <div class="replies">
        {% for reply in replies.all %}
        <div class="reply">
            <h1 class="reply-author">{{ reply.creator.username }} --</h1>
            <p class="reply-content">{{ reply.content|truncatewords:100}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %} 